@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
.navbar-brand {
    font-family: 'Poppins', sans-serif;
}
.col-5 {
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}